@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Biryani:wght@400;600;700&family=Oswald:wght@400;500;600;700&display=swap");

html,
body {
	height: 100%;
	width: 100%;
}

html,
body,
.app-scroller {
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;

		&-thumb {
			background-color: darkgrey;
			border-radius: 0.3rem;

			&:hover {
				background-color: dimgray;
			}
		}

		&-track {
			background-color: lightgrey;
			border-radius: 0.3rem;

			&:hover {
				background-color: darkgrey;
			}
		}
	}
}